{% extends 'manager/dashboard.html' %}



{% block title %}
    {{user.username}} Dashboard
{% endblock title %}



{% block inside %}
<span class="breadcum">
    <a href="{%url 'manager:dashboard'%}">
        Dashboard
    </a>/

    <a href="{%url 'manager:news'%}">
        Courses
    </a>/
    All Course
   
   
  </span>
    {% for i in messages  %}
    <div class="alert alert-secondary alert-warning alert-dismissible fade show" role="alert">
        {{i}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
   
    {% endfor %}
    <div class="col-12 mt-3  table-responsive" >
       
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th>Name</th>
                <th>Course Duration</th>
                <th>Credit Hours</th>
                <th>Intake</th>
                <th>Accrediation</th>
                <th></th>
               
              </tr>
            </thead>
            <tbody>

        {% for i in all_news  %}
        <tr>
            <td>
              <div class="d-flex align-items-center">
                
                {% if i.image %}
                <img
                src="{{i.image.url}}"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
                    {%else%}
                    <img
                    src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                    alt=""
                    style="width: 45px; height: 45px"
                    class="rounded-circle"
                    />
                {% endif %}
                    
               
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{i.name}}</p>
                  <p class="text-muted mb-0">{{i.category}}</p>
                </div>
              </div>
            </td>
            <td class="text-center">
                {{i.course_duration}}
            </td>

            <td class="text-center">
                {{i.credit_hour}}
            </td>

            <td class="text-center">
                {{i.intake}}
            </td>
            <td class="text-center">
                {{i.accrediation}}
            </td>
            <td>
                <div class="d-flex" style="justify-content:center;">
                    <a href="{%url 'manager:updateNews' i.id%}">
                        <button class="btn btn-sm btn-secondary">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                    </a>
                    
                    <button class="btn btn-sm btn-danger ms-3" data-bs-toggle="modal" data-bs-target="#exampleModal{{i.id}}">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Are you sure want to delete this course?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            {{i.name}} | <span class="text-danger text-capitalize">Delete this course</span> 
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="{%url 'manager:deleteNews' i.id%}">
                                <button type="button" class="btn btn-sm btn-danger">Delete</button>
                            </a>
                            
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </td>
           
          </tr>
        {% endfor %}  
             
              
        </tbody>
        </table>

        

    </div>
   
{% endblock inside %}
    
    