{% extends 'index.html' %}

{% load static %}

{% block title %}
    About Us. Gantabya Ek
{% endblock title %}


{% block content %}

<div class="container mb-5 mt-3">
    <div class="row mb-3">
        <P class="mt-3 text-center">ABOUT US</P>

        <h1 class="text-center mt-2">The dream team of</h1>
        <h1 class="text-center mt-1">Your Future</h1>

       
    </div>
    <div class="row mt-5 justify-content-between">
        <div class="col-12 col-lg-3 mt-5">
            <div class="about-box">
                <div class="imageBox text-center">
                    <img src="{%static 'images/about1.png'%}" alt="Gantabya Ek">
                </div>
                <div class="about-content">
                    <h4 class="text-light p-3">Guiding Student</h4>
                    <div class="p-3">
                        <small>
                       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias esse optio excepturi blanditiis magnam aliquid, facilis accusantium provident atque dolorum voluptatibus nisi praesentium distinctio iure quos dolor nostrum! Enim, voluptatum.
                        </small>
                    </div>
                    
                </div>
        
            </div>
        </div>

        <div class="col-12 col-lg-4 mt-3">
            <div class="about-box">
                <div class="imageBox text-center">
                  
                    <img src="{%static 'images/about3.webp'%}" alt="Gantabya Ek">
                </div>
                <div class="about-content">
                    <h4 class="text-light p-3">Guiding Student</h4>
                    <div class="p-3">
                        <small>
                       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias esse optio excepturi blanditiis magnam aliquid, facilis accusantium provident atque dolorum voluptatibus nisi praesentium distinctio iure quos dolor nostrum! Enim, voluptatum.
                        </small>
                    </div>
                    
                </div>
        
            </div>
        </div>

        <div class="col-12 col-lg-3 mt-5">
            <div class="about-box">
                
                <div class="imageBox text-center">
                    <img src="{%static 'images/about2.png'%}" alt="Gantabya Ek">
                </div>
                <div class="about-content">
                    <h4 class="text-light p-3">Guiding Student</h4>
                    <div class="p-3">
                        <small>
                       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias esse optio excepturi blanditiis magnam aliquid, facilis accusantium provident atque dolorum voluptatibus nisi praesentium distinctio iure quos dolor nostrum! Enim, voluptatum.
                        </small>
                    </div>
                    
                </div>
        
            </div>
        </div>
    </div>
   
</div>

<div class="container mt-5 mb-5">
    <div class="row mt-4 mb-5">
        <div class="col-12 col-lg-6 my-auto">
            <H1>Navigating you through our successfull path</H1>
            <small>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque adipisci expedita assumenda quia earum nihil aspernatur similique, doloremque quo deserunt esse inventore dolor, excepturi dolorum corporis commodi facilis tempora ducimus.
            </small>
        </div>
        <div class="col-12 col-lg-6 abtimg text-center">
            <img src="{%static 'images/aboutimg.png'%}" alt="">
        </div>
    </div>
</div>
<div class="container text-center">
    <img src="{%static 'images/aboutdown.jpeg'%}" alt="">
</div>

    
{% endblock content %}
