{% extends 'index.html' %}

{% load static %}

{% block title %}
    About Us. Gantabya Ek
{% endblock title %}


{% block content %}

<div class="container mb-5 mt-3">
    <div class="row mb-3">
        <P class="mt-3 text-center">ABOUT US</P>

        <h1 class="text-center mt-2">The dream team of</h1>
        <h1 class="text-center mt-1">Your Future</h1>

      
    </div>
     <br><br><br>
    <div class="row mt-5 justify-content-between">
        <div class="col-12 col-lg-3 mt-5">
            <div class="about-box">
                <div class="imageBox text-center">
                    <img src="{%static 'images/about1.png'%}" alt="Gantabya Ek">
                </div>
                <div class="about-content">
                    <h4 class="text-light p-3">Guiding Student</h4>
                    <div class="p-3">
                        <small>
                       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias esse optio excepturi blanditiis magnam aliquid, facilis accusantium provident atque dolorum voluptatibus nisi praesentium distinctio iure quos dolor nostrum! Enim, voluptatum.
                        </small>
                    </div>
                    
                </div>
        
            </div>
        </div>

        <div class="col-12 col-lg-4 mt-3">
            <div class="about-box">
                <div class="imageBox text-center">
                  
                    <img src="{%static 'images/about3.webp'%}" alt="Gantabya Ek">
                </div>
                <div class="about-content">
                    <h4 class="text-light p-3">Guiding Student</h4>
                    <div class="p-3">
                        <small>
                       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias esse optio excepturi blanditiis magnam aliquid, facilis accusantium provident atque dolorum voluptatibus nisi praesentium distinctio iure quos dolor nostrum! Enim, voluptatum.
                        </small>
                    </div>
                    
                </div>
        
            </div>
        </div>

        <div class="col-12 col-lg-3 mt-5">
            <div class="about-box">
                
                <div class="imageBox text-center">
                    <img src="{%static 'images/about2.png'%}" alt="Gantabya Ek">
                </div>
                <div class="about-content">
                    <h4 class="text-light p-3">Guiding Student</h4>
                    <div class="p-3">
                        <small>
                       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias esse optio excepturi blanditiis magnam aliquid, facilis accusantium provident atque dolorum voluptatibus nisi praesentium distinctio iure quos dolor nostrum! Enim, voluptatum.
                        </small>
                    </div>
                    
                </div>
        
            </div>
        </div>
    </div>
   
</div>

<br><br><br>
<div class="container mt-5 mb-5">
    <div class="row mt-4 mb-5">
        <div class="col-12 col-lg-6 my-auto">
            <H1>Navigating you through our successfull path</H1>
            <small>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque adipisci expedita assumenda quia earum nihil aspernatur similique, doloremque quo deserunt esse inventore dolor, excepturi dolorum corporis commodi facilis tempora ducimus.
            </small>
        </div>
        <div class="col-12 col-lg-6 abtimg text-center">
            <img src="{%static 'images/aboutimg.png'%}" alt="">
        </div>
    </div>
</div>
<br><br><br>

<div class="container-fluid m-0 mt-5 about-gantabya mt-5">
    <div class="mt-5 text-center">
        <i class="fa fa-graduation-cap about-cap"></i>
    </div>
    <h3 class="mt-4 text-center">
        Making you easy to choose between the right place
    </h3>
    <div class="text-center">
        <p class="mt-3 text-center mb-5">
          
                Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Minus cupiditate assumenda ratione cum libero voluptatem minima quidem adipisci quos. Temporibus tempora adipisci et minus sed distinctio architecto aut quibusdam alias.

          
        </p>
    </div>
  
</div>
<br><br>
<div class="container mt-4">
    <!-- Modal -->
    <div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Suden Malla</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center p-4">
                <img src="{%static 'images/people1.jpeg'%}" alt="" style="border: 2px solid grey; height:300px; width:300px; border-radius:50%">
                <p class="mt-3">
                    This site helps me to get perfect place to grow and enroll. This site helps me to get perfect place to grow and enroll. 

                </p>
            </div>
            
        </div>
        </div>
    </div>
    
    <h1 class="text-center">
        What our students says?
    </h1>
    <div class="mt-3 row">
        <div class="col-12 col-lg-3  m-auto mt-3 p-2">
            <div class="about-student">
                <img src="{%static 'images/student1.jpeg'%}" alt="">
                <div class="p-3">
                    <h2 class="mt-2">Sudan Malla</h2>
                    <p class="mt-2">
                        This site helps me to get perfect place to grow and enroll. 
                    </p>

                    <button class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        View
                    </button>

                </div>
            </div>
        </div>

        <div class="col-12 col-lg-3  m-auto mt-3 p-2">
            <div class="about-student">
                <img src="{%static 'images/student3.jpeg'%}" alt="">
                <div class="p-3">
                    <h2 class="mt-2">Sudan Malla</h2>
                    <p class="mt-2">
                        This site helps me to get perfect place to grow and enroll. 
                    </p>

                    <button class="btn btn-primary mt-4">
                        View
                    </button>

                </div>
            </div>
        </div>

        <div class="col-12 col-lg-3  m-auto mt-3 p-2">
            <div class="about-student">
                <img src="{%static 'images/student2.jpeg'%}" alt="">
                <div class="p-3">
                    <h2 class="mt-2">Sudan Malla</h2>
                    <p class="mt-2">
                        This site helps me to get perfect place to grow and enroll. 
                    </p>

                    <button class="btn btn-primary mt-4">
                        View
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>

    
{% endblock content %}
