{% extends 'index.html' %}

{% load static %}

{% block title %}
    Contact Us. Gantabya Ek
{% endblock title %}



{% block content %}
<div class="container-fluid bg-primary p-4 pb-5">
    <h1 class="mt-5 text-light">Contact Us</h1>
    <small class="mt-2 text-light">Question, Feedback, bugs, we here it all..</small>
</div>
<div class="container-fluid mt-5">
    <div class="row p-2">

        <div class="col-lg-4 mt-4 col-12">
            <div class="contactBoxNew1 text-center">
                <div class="contactIconBox m-auto d-flex justify-content-center">
                    <i class="fa-solid fa-location-dot my-auto text-light" style="font-size: 50px;"></i>
                </div>

           
                <p class="m-0 mt-4">Kathmandu, Nepal</p>
                <p class="m-0">We have our branch in Chitwan</p>
            </div> 
        </div>
        <div class="col-lg-4 mt-4 col-12">
            <div class="contactBoxNew text-center">
                <div class="contactIconBox m-auto d-flex justify-content-center">
                    <i class="fa-solid fa-phone my-auto text-light" style="font-size: 50px;"></i>
                </div>
               
              
                <p class="m-0 mt-4">+977 9818082513</p>
                <p class="m-0">Call Us to Register for course</p>
            </div> 
        </div>
        <div class="col-lg-4 mt-4 col-12">
            <div class="contactBoxNew2 text-center">
                <div class="contactIconBox m-auto d-flex justify-content-center">
                    <i class="fa-solid fa-envelope my-auto text-light" style="font-size: 50px;"></i>
                </div>
            
                <p class="m-0 mt-4">info@gmail.com</p>
                <p class="m-0">www.gantabyaek.com</p>
                
            </div> 
        </div>
        
       
    </div>
</div>
{% endblock content %}
    