{% extends 'index.html' %}
{% load static %}
{% block title %}
    Course Details
{% endblock title %}




{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-7 col-12 mt-4">
                <div class="d-flex justify-content-between mb-3">
                    <small>BScIT</small>
                    <small>2022-02-07</small>
                </div>
                <img id="blogImage" src="{%static 'images/contact.webp'%}" alt="Gantabya Ek">
               
                <h1 class="mt-3">
                    What are the best college for BscIT
                </h1>
                <p class="mt-2">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt incidunt commodi saepe ipsa voluptatibus necessitatibus itaque repellat, ratione, quo tempora minus laudantium! Distinctio, sapiente voluptatibus nemo sunt ipsam quia illo?
                </p>

            </div>

            <div class="col-lg-5 col-12 mt-4 p-2">
                <div class="similarBox">
                    <h5>Spotlight</h5>
                    <hr>
                    <div class="smallblog d-flex">
                        <div>
                            <small>BScIT</small>
                            <h3>
                                What are the best college for BscIT
                            </h3>
                            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odio? Porro nisi vero quibusdam? Eveniet</small>
                        </div>
                        <img class="blogImage" src="{%static 'images/contact.webp'%}" alt="Gantabya Ek">

                    </div>
                    <hr>
                    <div class="smallblog d-flex">
                        <div>
                            <small>BScIT</small>
                            <h3>
                                What are the best college for BscIT
                            </h3>
                            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odio? Porro nisi vero quibusdam? Eveniet</small>
                        </div>
                        <img class="blogImage" src="{%static 'images/contact.webp'%}" alt="Gantabya Ek">

                    </div>
                    <hr>
                    <div class="smallblog d-flex">
                        <div>
                            <small>BScIT</small>
                            <h3>
                                What are the best college for BscIT
                            </h3>
                            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odio? Porro nisi vero quibusdam? Eveniet</small>
                        </div>
                        <img class="blogImage" src="{%static 'images/contact.webp'%}" alt="Gantabya Ek">

                    </div>
                </div>
               
            </div>
            <div>
                <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi nesciunt id, natus animi ducimus, nostrum magni pariatur ipsum eligendi quos blanditiis molestiae dignissimos neque quis ab, iure sequi rem! Officiis?</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum itaque impedit magni temporibus quaerat nisi error quis odit molestiae a dolores praesentium sint dolorum, quisquam ratione suscipit mollitia consequatur illo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cumque quam repudiandae sed alias a, veritatis voluptas voluptatem ratione, odit minima vero pariatur atque voluptatum laudantium voluptate ullam, molestias dolor.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum itaque impedit magni temporibus quaerat nisi error quis odit molestiae a dolores praesentium sint dolorum, quisquam ratione suscipit mollitia consequatur illo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cumque quam repudiandae sed alias a, veritatis voluptas voluptatem ratione, odit minima vero pariatur atque voluptatum laudantium voluptate ullam, molestias dolor.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum itaque impedit magni temporibus quaerat nisi error quis odit molestiae a dolores praesentium sint dolorum, quisquam ratione suscipit mollitia consequatur illo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cumque quam repudiandae sed alias a, veritatis voluptas voluptatem ratione, odit minima vero pariatur atque voluptatum laudantium voluptate ullam, molestias dolor.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum itaque impedit magni temporibus quaerat nisi error quis odit molestiae a dolores praesentium sint dolorum, quisquam ratione suscipit mollitia consequatur illo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cumque quam repudiandae sed alias a, veritatis voluptas voluptatem ratione, odit minima vero pariatur atque voluptatum laudantium voluptate ullam, molestias dolor.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum itaque impedit magni temporibus quaerat nisi error quis odit molestiae a dolores praesentium sint dolorum, quisquam ratione suscipit mollitia consequatur illo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cumque quam repudiandae sed alias a, veritatis voluptas voluptatem ratione, odit minima vero pariatur atque voluptatum laudantium voluptate ullam, molestias dolor.
                </p>
             </div>

        </div>
    </div>
{% endblock content %}
    