{% extends 'index.html' %}
{% load static %}

{% block title %}
    Our Course. Category
{% endblock title %}
    
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-3 p-3 text-center">
            <h3 class="text-center">Course Content</h3>
            <small >Our article about course and navigating your path</small>
        </div>

        <div class="col-12 col-lg-4 mt-3 p-3">
            <a href="{%url 'landing:courseDetail'%}">
                <div class="courseBox">
                    <img src="{%static 'images/growth.png'%}" alt="">
                    <div class="p-3">
                        <small>BscIT</small>
                        <h4>
                            What are the best college for BscIT
                        </h4>
                        <p class="mt-3">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt incidunt commodi saepe ipsa voluptatibus necessitatibus itaque repellat, ratione, quo tempora minus laudantium! Distinctio, sapiente voluptatibus nemo sunt ipsam quia illo?
                        </p>
    
                        <small class="mt-3">
                            02-01-2021
                        </small>
                    </div>
                </div>
            </a>
          
        </div>

        <div class="col-12 col-lg-4 mt-3 p-3">
            <div class="courseBox">
                <img src="{%static 'images/growth.png'%}" alt="">
                <div class="p-3">
                    <small>BscIT</small>
                    <h4>
                        What are the best college for BscIT
                    </h4>
                    <p class="mt-3">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt incidunt commodi saepe ipsa voluptatibus necessitatibus itaque repellat, ratione, quo tempora minus laudantium! Distinctio, sapiente voluptatibus nemo sunt ipsam quia illo?
                    </p>

                    <small class="mt-3">
                        02-01-2021
                    </small>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4 mt-3 p-3">
            <div class="courseBox">
                <img src="{%static 'images/growth.png'%}" alt="">
                <div class="p-3">
                    <small>BscIT</small>
                    <h4>
                        What are the best college for BscIT
                    </h4>
                    <p class="mt-3">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt incidunt commodi saepe ipsa voluptatibus necessitatibus itaque repellat, ratione, quo tempora minus laudantium! Distinctio, sapiente voluptatibus nemo sunt ipsam quia illo?
                    </p>

                    <small class="mt-3">
                        02-01-2021
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    