{% extends 'index.html' %}

{% load static %}
{% block title %}
    Sign up Gantabya Ek
{% endblock title %}
   
{% block content %}
    <div class="container-fuild p-0">
     
      
        <div class="row">
            
                
            <div class="login-div pt-2">
                <div style="height:100vh" class="pt-1 mt-3">
                    <div class="login-box m-auto mt-5 p-0 ">
                       
                        <div class="row p-0 m-0">
                            <div class="col-12 col-lg-6 p-0  hide-phone">
                              <img src="{%static 'images/login.jpg'%}" alt="Gantabya ek">
                            </div>
                            <div class="col-12 col-lg-6 my-auto mt-2 p-4 m-0">
                                {% for i in messages  %}
                                <div class="alert alert-secondary alert-warning alert-dismissible fade show" role="alert">
                                    {{i}}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                
                                {% endfor %}
                              
                                <h1 class="text-center mt-5">Register to our service</h1>
                              
                                
                                <div class="text-center ">
                                    <form method = "POST" class="mt-5">
                                        <div class="row p-0 m-0">
                                            <div class="p-0 m-0 col-12 col-lg-5">
                                                <div class="d-flex mt-4 login-input position-relative">
                                                    <i class="fa fa-user-circle my-auto icon"></i>
                                                    <input type="text" name="first_name" class=" form-control create-icon" placeholder="First Name.." required>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">

                                            </div>
                                            <div class="p-0 m-0 col-12 col-lg-5">
                                                <div class="d-flex mt-4 login-input position-relative">
                                                    <i class="fa fa-user-circle my-auto icon"></i>
                                                    <input type="text" name="last_name" class=" form-control create-icon" placeholder="Last Name.." required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex mt-4 login-input position-relative">
                                            <i class="fa fa-user-check my-auto icon"></i>
                                            <input type="text" name="email_user" class=" form-control create-icon" placeholder="Your Email..">
                                        </div>
                                        <div class="d-flex mt-4 login-input position-relative">
                                            <i class="fa fa-passport my-auto icon"></i> 
                                            <input type="password" name = "password" class="form-control create-icon" placeholder="Password..">

                                        </div>
                                        <div class="d-flex mt-4 login-input position-relative">
                                            <i class="fa fa-passport my-auto icon"></i> 
                                            <input type="password" name = "password" class="form-control create-icon" placeholder="Password again..">

                                        </div>
                                       
                                        {% csrf_token %}
                                        <div class="mt-3">
                                            <button class="btn btn-primary mt-2 w-100">
                                                Sign Up
                                            </button>
                                        </div>
                                       
                                        <div class="mt-2 d-">
                                            <div class="d-flex justify-content-between">
                                                <small class="text-secondary">
                                                    Forget password
                                                </small>
                                                <a href="{%url 'landing:login'%}">
                                                    <small>
                                                        Login
                                                     </small>
                                                </a>
                                               
                                            </div>
                                            
                                            <small class="mt-3">You can login with</small>
                                            <hr>
                                            <i class="fa fa-brands fa-google-plus-g "></i>
                                            <i class="fa fa-brands fa-facebook-square ps-3"></i>
                                        </div>
                                        
                                    </form>
                                   
                                   
                                </div>
                            </div>
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    